:root {
  --primaryColor: #1c6e86;
  --secondaryColor :#060818;
  --tierColor: #1e2020;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "title-logo";
  src: url("./../polices/vagnotie.otf");
}
@font-face {
  font-family: "title-block";
  src: url("./../polices/Vogue.ttf");
}
@font-face {
  font-family: "title-secondaire";
  src: url("./../polices/ArcaMajora3-Bold.otf");
}
@font-face {
  font-family : "sans-serifSpe";
  src: url("./../polices/Myriad-Pro_31655.ttf");
}

.blue-sky {
  background-color: var(--secondaryColor);
}
body .blue-Marine {
  background-color: var(--primaryColor);
}

.titleBlock {
  font-family: "title-block";
  padding-top: 30px;
  font-size: 1.3rem;
  color: var(--tiercolor);
}
.titleConte{
  text-align: center;
}
.btnNb{
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-family: "title-secondaire";
  font-size: 1rem;
}
.secondaryNb {
  color: var(--secondaryColor);
}
.btnNb:hover {
  text-decoration: none;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
}
.conteneurBtn {
  padding-top: 20px;
}
img {
  width: 100%;
}


/*********************************************************** Header backend ************************************************************************************/

.icons{
  color: #7e849d;

}

.form-inline{
  
  
}
.titlesite, .logo{

  color: #e0e6ed;
  width: 30px;
  font-family: "title-secondair";
  font-size: 1.0rem;

}


.icon-env, .icon-bell, .icon-person {
  

  color: #888ea8;
}


input.form-control.form-control-sm.ml-5.w-100 {
  background-color: #0e1726;
  color: #7e849d;
  border-color: #212837;
 
  
}

button#dropdownMenuButton {

background-color: #1a1c2d;
color: #d2d8df;
border-color: #212837;
font-size: 12px;
}


.icon-list{
 
 color: #d9dadc;
 width: 30px;
 height: 25px;

}

.titlelist{
 
 color: #d9dadc;

}
.fond{
 

 background: #1a1c2d;
}

/* ################################# Header ###########################*/
header .navbar{
  padding: 0;
  margin: 0;
  display: block;
}

header .menuhaut{
  height: 15vh;
  padding: 0;
  margin: 0;
}
header .menuhaut .col:first-child{
  width: 30%;
  height: 15vh;
  
}
header .menuhaut .col:nth-child(2){
  width: 30%;
  height: 8vh;
 
}
header .menuhaut .col:nth-child(3){
  width: 30%;
  height: 5vh;
 
}
header .menuhaut .col:nth-child(3) .nav-link{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  
}

header .menuhaut .row{
  width: 100%;
  height: 15vh;
  margin: 0;
  padding: 0;

}
header .menuhaut .container{
  max-width: 100% ;
  margin: 0;
 
}

header .container img {
  width: 12%;
  margin-right: 10px;

}
input{
  background-color: #7e849d;
}


